---
import Thewrapper from "../components/Thewrapper.astro";
import Header from "../components/Header.astro";
for (var i = 0; i < 10; i++) {}
const pageTitle = `ASTRO jeg er fra index ${i}`;
---

<!DOCTYPE html>
<html lang="da">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <Header />
    <Thewrapper title="Numsesaft">
      <h1>{pageTitle}</h1>

      <p>Dav</p>
    </Thewrapper>
  </body>
</html>
