---
const { title } = Astro.props;
---

<div id="content-wrapper">
  <h1>{title}</h1>
  <h2>I'm the wrapper</h2>
  <p>før slot</p>
  <slot />
  <p>efter slot</p>
  <!-- children will go here -->
</div>
